
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap'); */



body {
  background: linear-gradient(to bottom, #212430, #17171a);
  min-height: 100vh; /* Use min-height instead of height */
  width: 100%; /* Set width to 100% */
}

#Wrapper {
  margin-right: 5em;
  margin-left: 5em;
}
